<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="fxServerDownloadUri" value="https://runtime.fivem.net/artifacts/fivem/build_server_windows/master/1915-4c469c830d3483cba3cdc54063b3120fec5bc168/server.zip"/>
    <add key="fxServerDataDownloadUri" value="https://github.com/citizenfx/cfx-server-data/archive/master.zip"/>
    <add key="fxServerRunCmd" value="cmd /c server/run.cmd"/>
  </appSettings>
</configuration>